@model string

@{
    ViewBag.Title = "AdminMenu";
}
@{
    if(Model == "True")
    {
        <li><a href="/">Admin</a>
            <ul>
                <li><a href="/Categories/Index">Category</a></li>
                <li>@Html.ActionLink("SubCategories", "Index","SubCategories")</li>
                <li><a href="/OrderDeliveries/Index">Order delivery</a></li>
                <li><a href="/UserRoles/Index">User role</a></li>
                <li><a href="/Products/Index">Products</a></li>
                <li><a href="/SpecialOffers/Index">Special Offer</a></li>
                <li><a href="/Users/Index">Users</a></li>
            </ul>
        </li>
    } 
}
